<div class="main-content">
  <div class="section-content section-content-p30">

    <!--    this is for title-->

    <div *ngIf="searchMode==false; then categoryName else all"></div>
    <ng-template #categoryName>
      Category: {{ currentCategoryName }}
    </ng-template>
    <ng-template #all>
      Category: All
    </ng-template>


    <hr>

    <div class="container-fluid">
      <div class="row">


        <!--        loop over the collection of products-->
        <div *ngFor="let tempProduct of products" class="wrapper col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{tempProduct.id}}">
              <img src="{{tempProduct.imageUrl}}" alt="img-not-found" class="img-responsive">
            </a>

            <a routerLink="/products/{{tempProduct.id}}" style="display: block">
              <h1>
                {{tempProduct.name}}
              </h1>
            </a>
            <div class="price">{{tempProduct.unitPrice | currency:'USD'}}</div>
            <a class="btn primary-btn btn-sm" (click)="addToCart(tempProduct)">Add to cart</a>
          </div>
        </div>

        <!--        if no products return-->
        <div *ngIf="products?.length==0" class="alert alert-warning col-md-12" role="alert">
          No products found.
        </div>

      </div>

      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left:30%">

                <ngb-pagination [(page)]="thePageNumber"
                                [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements"
                                [maxSize]="5"
                                [boundaryLinks]="true"
                                (pageChange)="listProducts()">

                </ngb-pagination>
              </div>

              <div class="col-md-3 mt-2" style="text-align: right;">
                <span class="mr-2">Page Size</span>
                <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                  <option selected value="8">8</option>
                  <option value="12">12</option>
                  <option value="16">16</option>
                  <option value="20">20</option>
                </select>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
